@using LSYSweb.Models.Entity
@model List<TBL_HAMMADDE>

@{
    ViewBag.Title = "Stok";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>
<html>
    <head>
        <style>
            th {
                padding-left: 20px;
                padding-right: 20px;
                text-align: center;
            }

            td {
                padding-left: 20px;
                padding-right: 20px;
                text-align: center;
            }

            h2 {
                padding: 20px;
            }

            .table {
                padding-left: 40px;
                padding-right: 40px;
            }
        </style>
    </head>

    <body>
        <h2>Stok</h2>
        <div class="row form-group">
            <div class="table" id="no-more-tables">
                <table class="col-md-12 table-bordered table-striped table-condensed cf">
                    <thead class="cf">
                        <tr>
                            <th>Hammadde Adı</th>
                            <th>Stok Adeti</th>
                            <th>Stok Eşiği</th>
                            <th>Temin Süresi</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var urn in Model)
                        {
                            <tr>
                                <td data-title="Hammadde Adı">@urn.HAMMADDE_ADI</td>
                                <td data-title="Stok Adeti">@urn.STOK_ADEDI adet</td>
                                <td data-title="Stok Eşiği">@urn.STOK_ESIK_DEGERI adet</td>
                                <td data-title="Temin Süresi">@urn.TEMIN_SURESI gün</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="mh-100" style="height: 295px;"></div>
        <hr>
        <p style="text-align: center;">© 2020 Akın Lift. Tüm Hakları Saklıdır. Akın Lift, akinlift.com ve Akın Lift logosu, Akın Lift'in Türkiye'deki ticari markalarıdır.</p>
    </body>
</html>

