@using LSYSweb.Models.Entity
@model List<TBL_K_HAMMADELER>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        td {
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
        }

        h2 {
            padding: 20px;
        }
    </style>
</head>

<body>
    <h2>Reçete</h2>
    <table class="table table-bordered">
        <tr>
            @*<td>ID</td>*@
            @*<td>hammadde id</td>
            <td>urun adı</td>*@
            <td>HAMMADDE ADI</td>
        </tr>

        @foreach (var khmd in Model)
        {
            <tr>
                @*<td>@khmd.K_HAMMADELER_ID</td>*@
                @*<td>@khmd.HAMMADDE_ID</td>
                <td>@khmd.TBL_URUN.URUN_ADI</td>*@
                <td>@khmd.HAMMADDE_ADI</td>

            </tr>
        }
    </table>
    <div class="mh-100" style="height: 100px;"></div><hr>
    <p style="text-align: center;">© 2020 Akın Lift. Tüm Hakları Saklıdır. Akın Lift, akinlift.com ve Akın Lift logosu, Akın Lift'in Türkiye'deki ticari markalarıdır.</p>
</body>
</html>

