@using LSYS.Models.Entity
@model List<TBL_K_HAMMADELER>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>REÇETE</h2>




<table class=" table table-bordered">
    <tr>
        @*<td>ID</td>*@
        @*<td>hammadde id</td>
        <td>urun adı</td>*@
        <td>HAMMADDE ADI</td>

    </tr>

    @foreach (var khmd in Model)
    {
        <tr>
            @*<td>@khmd.K_HAMMADELER_ID</td>*@
            @*<td>@khmd.HAMMADDE_ID</td>
            <td>@khmd.TBL_URUN.URUN_ADI</td>*@
            <td>@khmd.HAMMADDE_ADI</td>

        </tr>
    }

</table>